<template>
    <section class="socket">
        <slot
            :connect="connect"
            :disconnect="disconnect"
            :results="results"
            :send="send"
        />
    </section>
</template>

<script>
export default {
    name: 'Socket',
    props: {
        url: {
            type: String,
            required: true,
        },
        initialize: {
            type: Boolean,
            default: true,
        },
        initialMessage: {
            type: String,
            default: '',
        },
        debug: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return {
            webSocket: null,
            results: []
        };
    },
    beforeDestroy() {
        if (this.webSocket !== null) {
            this.webSocket.close();
        }
    },
    mounted() {
        this.logToConsole('Socket component initialised');
        if (this.url !== null) {
            if (/(wss|ws)/.test(this.url)) {
                if (this.initialize === true) {
                    this.connect();
                }
            } else {
                this.logToConsole('Invalid URL');
                this.$emit('error', 'invalid url');
            }
        } else {
            // Unable to make a socket connection without an URL
            this.logToConsole('There is no url to connect to');
            this.$emit('error', 'no url');
        }
    },
    methods: {
        connect() {
            this.webSocket = new WebSocket(this.url);
            this.logToConsole(`Connecting to socket ${ this.url }`);
            this.webSocket.onopen = $event => {
                this.logToConsole('Socket connection opened');
                this.$emit('opened', $event);

                this.$nextTick(() => {
                    if (this.initialMessage) {
                        this.logToConsole('Sending initial message to socket');
                        this.webSocket.send(this.initialMessage);
                    }
                });
            };
            this.webSocket.onclose = $event => {
                this.logToConsole('Socket connection closed');
                this.$emit('closed', $event);
            };
            this.webSocket.onerror = $event => {
                this.logToConsole(`Socket connection error`);
                this.logToConsole($event);
                this.$emit('error', $event);
            };
            this.webSocket.onmessage = this.message;
        },
        disconnect() {
            if (this.webSocket !== null) {
                if (this.webSocket.readyState === 1) {
                    this.webSocket.close();
                } else {
                    this.$emit('error', 'Socket is not ready');
                }
            } else {
                this.$emit('error', 'There is no socket connection');
            }
        },
        message($event) {
            this.results = {};
            if (typeof $event === 'object') {
                const message = JSON.parse($event.data);
                this.logToConsole(`Message received from socket ${ $event.data }`);
                this.results = message;
                this.$emit('message', message);
            }
        },
        send(message) {
            return new Promise((resolve, reject) => {
                if (this.webSocket !== null) {
                    if (this.webSocket.readyState === 1) {
                        this.logToConsole(`Sending message to socket ${ message } ${ typeof message }`);
                        if (typeof message === 'object') {
                            message = JSON.stringify(message);
                        }
                        this.webSocket.send(message);
                        resolve();
                    } else {
                        reject(new Error('Socket is not ready'));
                    }
                } else {
                    let message = 'There is no socket connection';
                    this.$emit('error', message);
                    reject(new Error(message));
                }
            });
        },
        logToConsole(message) {
            if (this.debug) {
                // eslint-disable-next-line
                console.log('SocketComponent', message);
            }
        }
    }
};
</script>
